img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.top-20 {
  margin-top: 20px;
}
.top-40 {
  margin-top: 40px;
}
.btm-20 {
  margin-bottom: 20px;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.text-center {
  text-align: center;
}