$grid-number-column:  12;
$grid-column-spacing: 1%;
$screen-xs-max: 430px;
$screen-sm-max: 768px;
$screen-md-max: 1024px; 

$font-size-base:  16px !default;
$line-height-base: 1.42857143 !default;
$body-bg-color: #ededed;
$body-color: #333;

$color-primary: #3af !default;
$color-success: #32b643 !default;
$color-default: #bbb !default;
$color-warning: #ec971f !default;
$color-danger: #d9534f !default;

$border-radius-base: 3px !default;
$font-fe: 'fontello';
$font-path: 'src/fonts/';
$image-path: 'src/img/';