html {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.42857143;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  background: #fafafa;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  overflow-x: hidden;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    color: inherit;
  }
}