.nav {
  &-main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 -.2rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #252830;
  }

  &-item {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    float: left;
    min-width: 0;
    width: auto;
    margin: 0 .2rem;
    padding: 1.5rem;
    text-align: center;
    color: #fff;

    &.active {
      background-color: $color-primary;
    }

    &:active,
    &:hover,
    &:focus {
      color: #fff;
    }
  }

  &-icon {
    font-size: 2rem;
  }
}